body{
	background-color: #24A998;
}
h1{
	text-align: Center;
}
/*Aplicando el mismo estilo a p y a code ademas de strike y del*/
p,code,s,strike,del{
     font-size: 72px;	
}
em{
   color : #193CD3;	
   font-size: 64px;
}
.cur2{
	background-color: red;
	font-size: 64px;

}
.cur1{
	/*propiedad de fondo*/
	background-color: red;
	font-size: 64px;
}
p em{
	color: white;

}
p.p1{
	background-color: red;
	font-size: 64px;
}

  
   